img {
    width: 240px;
    height: 230px;
}

.info {
    background-color: #2d2c2c;
    color: whitesmoke;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.carouselIMG {
    height: 675px;
}

.carousel-caption > h5 {
    margin-top: -500px;
}

.dragon.bg-gradient{
    background-color:peru;
}

.fight.bg-gradient {
    background-color:khaki;
}

.d-flex.flex-row{
    background-color: rgb(42, 41, 41);
    width: 407px;
    margin-left: -16px;
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
}

.numText.card-title {
    color: goldenrod
}

.card-title.ms-3 {
    color: whitesmoke;
}

.fairy.bg-gradient{
    background-color: palevioletred;
}

.poison.bg-gradient {
    background-color:deeppink;

}

.ghost.bg-gradient{
    background-color: rgb(36, 4, 45);
}

.normal.bg-gradient {
    background-color:darkcyan;

}

.pokedexLogo {
    width: 150px;
    height: 50px;
}

a.nav-link{
    color: rgb(255, 255, 255);
}

a.nav-link:hover{
    font-size: 20px;
    transition: 500ms;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

@media (min-width: 465px) {
    .pokeList {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 464px) {
    .pokeList {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    div.card-body {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }
    
    div.d-flex.flex-row {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }

    ul.list-group.mb-4.list-group-flush {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    p.mb-0.bg-danger-subtle.pOfSkill {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    img.mt-3.ms-2.card-img-top {
        height: 200px;
    }
}
